h1 {
  font-size: 200px;
  color: wheat;
}

ul {
  list-style-type: none;
}

.navigation {
  display: flex;
  gap: 30px;
  background-image: url(download.jfif);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

p {
  padding: 40px;
  text-align: justify;
  color: brown;
  display: flex;
  font-size: 50px;
  font-weight: 900;
}
a {
  font-size: 50px;
  color: wheat;
}
.contact p a {
  display: flex;
}
